.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  margin-top: 150px; /* headerの高さ分の余白 */
}

.main-firstview {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  
}

.main-firstview-image {
  margin: 0 auto;
  padding: 0px 0px;
  width: 80%;
}

.main-firstview-3d {
  width: 600px;
  height: 400px; /* ← 大事！描画領域の高さ */
  transform: translateY(-10px); /* 全体を上に50px移動 */
}


.main-firstview p {
  writing-mode: vertical-rl; /* 縦書き */
  font-size: 1.2rem;
  letter-spacing: 0.3em;
}

.main-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
}

.main-about-line {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.main-about-title {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.2em;
  padding: 40px;
}

.main-about-text {
  width: 700px;
  padding: 50px;
}

.categoryline {
  display: flex;
  flex-direction: row;
  align-items: center; /* 縦方向の中央揃え */
  padding: 80px 0px;
}

.categoryline-image {
  padding-right: 20px;
}

.categoryline p {
  font-size: 1.5rem;
  font-weight: bold;
}

.more-works {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.more-works-image:hover {
}

.more-about {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E3E3E3;
}


/*-------------------------------- Works --------------------------------*/

.works {
  background-color: #fff;
  padding: 0px 50px;
}

.works-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

.works-list-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
}

.works-list-item {
  padding: 0px 40px;
}

.works-list-item-image {
  width: 100%;
  height: 100%; 
  object-fit: cover; /* 画像がはみ出ないようにする */
}

.works-list-item-tag {
  font-size: 0.8rem;
  padding: 2px 0px;
}

.works-list-item-title {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 2px 0px;
}

.works-list-item-text {
  font-size: 1rem;
  padding: 2px 0px;
}

/*-------------------------------- Skill --------------------------------*/

.skill {
  padding: 0px 50px;
}

.skill-list-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skill-list-item {
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-list-item-image {
  width: 50%;
}

.skill-list-item-title {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 2px 0px;
}

.skill-list-item-text {
  font-size: 1rem;
  width: 300px;
  padding: 2px 0px;
}

/*-------------------------------- About --------------------------------*/

.about {
  padding: 0px 50px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 900px;
  margin: 0 auto;
}

.about-name {
  padding: 40px 20px;
}

.about-name-en p{
  font-size: 0.8rem;
  font-weight: bold;
}

.about-name-jp p{
  font-size: 1.5rem;
  font-weight: bold;
}

.about-item {
  display: flex;
  flex-direction: row;
}

.about-image {
  padding: 0px 40px;
}

.about-text {
  font-size: 1rem;
  width: 400px;
}

/*-------------------------------- Contact --------------------------------*/

.contact {
  padding: 0px 50px;
  background-color: #96FF79;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 100px 0px;
}

.contact-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  width: 500px;
  border-radius: 30px;
}

.contact-button img {
  width: 50px;
  margin-left: 20px;
}


/* -------------------------------- スマホ用 --------------------------------*/
@media (max-width: 540px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    margin-top: 100px; /* headerの高さ分の余白 */
  }
  
  .main-firstview {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-firstview-image {
    margin: 0 auto;
    padding: 0px 30px;
    width: 80%;
  }

  .main-firstview-3d {
    width: 400px;
    height: 250px; /* ← 大事！描画領域の高さ */
    transform: translateY(10px); /* 全体を上に10px移動 */
  }

  .main-firstview p {
    font-size: 1rem;
  }
  .main-about-line {
    padding: 10px; 
  }
  .main-about-line-image {
    height: 100px;
  }
  .main-about-title {
    padding: 10px 0px;
    font-size: 1.1rem;
  }
  .main-about-text{
    width: 400px;
    padding: 20px;
  }

  .categoryline {
    padding: 50px 10px;
  }
  
  .categoryline-image {
    width: 100px;
    padding-right: 20px;
  }
  
  .categoryline p {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .works-list-item-container {
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
  }
  .works-list-item {
    padding: 15px 0px;
  }
  .works-list-item-image {
    width: 100%;
    height: 100%;
  }

  .works-list-item-tag {
    font-size: 0.8rem;
    padding: 1px 0px;
  }
  .works-list-item-title {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1px 0px;
  }

  .skill-list-item-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 0px 0px;
  }
  .skill-list-item {
    padding: 10px 0px;
  }
  .skill-list-item-image {
    width: 150px;
  }
  .skill-list-item-title {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 0px;
  }
  .skill-list-item-text {
    width: 400px;
    padding: 10px 0px;
  }

  .more-works-image {
    width: 150px;
  }
  .more-about-image {
    width: 150px;
  }
  .about-container {
    width: 100%;
  }

  
  
  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 0 auto;
  }
  
  .about-name {
    padding: 40px 20px;
  }
  
  .about-name-en p{
    font-size: 0.8rem;
    font-weight: bold;
  }
  
  .about-name-jp p{
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .about-item {
    display: flex;
    flex-direction: column;
  }
  
  .about-image {
    padding: 10px 40px 20px 40px;
  }
  
  .about-text {
    font-size: 1rem;
    width: 400px;
  }
  
  .contact-container {

    padding: 0px 0px 100px 0px;
  }
  
  .contact-button {

    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
    width: 400px;
    border-radius: 30px;
  }

}

/* PC用 */
@media (min-width: 1440px) {
  .main {
  }
  .main-firstview {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-firstview-image {
    margin: 0 auto;
    padding: 0px 70px;
    width: 90%;
  }
}
