.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 0;
}

.footer-menu p {
  font-size: 14px;
  font-weight: bold;
  margin-left: 20px;
}
/* スマホ用 */
@media (max-width: 540px) {
  .footer-menu p {
    font-size: 10px;
    margin-left: 10px;
  }
  .footer-icon {
    width: 50%;
  }
}

/* PC用 */
@media (min-width: 1440px) {
  .footer {
  }
}
